@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.timer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;

  h3 {
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: max(1.2vw, 1.7rem);
    text-align: center;
  }

  .clock {
    display: flex;
    gap: 0.5rem;
    font-size: max(1.8vw, 3rem);
    letter-spacing: 0.3rem;
  }

  button {
    padding: 1rem 2rem;
    font-size: max(1vw, 1.5rem);
    letter-spacing: 0.1rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background: $bg-grey;
    color: $clr-white;
    cursor: pointer;

    &:active {
      transform: scale(0.99);
    }
  }
}
